# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
.env
venv/
env/
.venv/
*.log

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
